* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
:root {
  --color-bg-1: #333;
  --color-bg-2: #3e3e3e;
  --color-acc: #3d9086;
  --color-txt-1: #efefef;

  --space-sm: 0.25rem;
  --space-md: 0.5rem;
  --space-lg: 0.75rem;

  --radius: 0.5rem;

  --shadow: 0 0 0 0.5rem #000;
}
body {
  background: var(--color-bg-2);
  color: var(--color-txt-1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  padding: var(--space-lg);
  background: var(--color-bg-1);
}
main {
  flex: 1 1 auto;
}
header {
  padding: var(--space-lg);
  background: var(--color-bg-1);
}
